<h2><%= t('.titre') %></h2>

<%= form_tag("/paniers/1/acheter") do %>

  <%= render partial: "paniers/panier", locals: {panier: @panier, readonly: false} %>

  <% unless @panier.empty? %>
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span>&#x2000;<%= t('.acheter') %></button>
  <% end %>
  <button name="retour" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span>&#x2000;<%= t('.retour') %></button>
  <button name="cancel" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span>&#x2000;<%= t('.annuler') %></button>

<% end %>
