<h2><%= t('.titre') %></h2>
<%= t('.status') %>

<%= render partial: "paniers/panier", locals: {panier: @panier, readonly: true} %>

<div>
 <p><%= t('.cancel_msg') %>
  <%= form_tag(paniers_cancel_path(@commande)) do %>
    <button name="checkout" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span>&#x2000;<%= t('.cancel_btn') %></button>
  <% end %>
 </p>
 <div style="margin-bottom: 40px"></div>
</div>

<%= render partial: "shared/abonnement", :locals => {:famille => @famille} %>

