<tr class="<%= cycle('odd', 'even') %>">
  <td><%= membre_show.nomPrenom %></td>
  <td><%= number_to_phone(membre_show.famille.tel_soir) %></td>
  <td><%= number_to_phone(membre_show.famille.tel_jour) %></td>
  <td><%= membre_show.famille.courriel1 %></td>
</tr>
