<h1>Données de: <%= @participation.description_fr -%></h1>

<div class="form-group">
  <label>Description (FR):</label>
  <p class="form-control-static">
    <%= h @participation.description_fr %>
  </p>
</div>

<div class="form-group">
  <label>Description (EN):</label>
  <p class="form-control-static">
    <%= h @participation.description_en %>
  </p>
</div>

<%= link_to 'Modifier', edit_participation_path(@participation) %> |
<%= link_to 'Retour', participations_path %>
