<%= form_for(@famille) do |f| %>

  <%  @famille.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>  <p>

  <div class="form-group">
      <label>Adresse1</label>
    <%= f.text_field :adresse1, class: 'form-control' %>
  </div>

  <div class="form-group">
      <label>Adresse2 (si nécessaire)</label>
    <%= f.text_field :adresse2, class: 'form-control' %>
  </div>

  <div class="form-group">
      <label>Ville</label>
    <%= f.text_field :ville, class: 'form-control' %>
  </div>

  <div class="form-group">
      <label>Province</label>
    <%= f.text_field :province, class: 'form-control' %>
  </div>

  <div class="form-group">
      <label>Code postal (sans espace)</label>
    <%= f.text_field :code_postal, class: 'form-control' %>
  </div>

  <div class="form-group">
      <label>Tél soir (chiffres seulement)</label>
    <%= f.text_field :tel_soir, class: 'form-control' %>
  </div>

  <div class="form-group">
      <label>Tél jour (chiffres seulement)</label>
    <%= f.text_field :tel_jour, class: 'form-control' %>
  </div>

  <div class="form-group">
      <label>Courriel1</label>
    <%= f.text_field :courriel1, class: 'form-control' %>
  </div>

  <div class="form-group">
      <label>Courriel2</label>
    <%= f.text_field :courriel2, class: 'form-control' %>
  </div>

  <div class="form-group">
      <label>Langue de correspondance</label>
    <select id="famille_langue" name="famille[langue]" class="form-control">
    <%= options_for_select(Famille::Langue, @famille.langue) %>
    </select>
  </div>

  <div class="form-group">
      <label>Etat</label>
    <select id="famille_etat" name="famille[etat]" class="form-control">
    <%= options_for_select(Famille::Etats, @famille.etat) %>
    </select>
  </div>

  <%= f.submit button_name, :class => "btn btn-primary" %>
  <%= f.submit( 'Annuler', {name: 'cancel', class: "btn btn-default"}) %>
  
<% end %>