<h1>Expédier un courriel aux membres</h1>

<%= form_tag :controller => 'familles', :action => 'courriel' do %>
<p>
Langue: <br/>
<%= select_tag :langue, options_for_select([ 'Toutes' ] + Famille::Langue, @langue)%>
</p>
<p>
Sujet: <br/>
<%= text_field_tag :sujet, @sujet, :size => 40 %>
</p>
<p>
Destinataires: <br/>
<%= select_tag :activite, options_for_select(
  [["Familles Actives", 102]] + 
  [["Toutes", 100]] + 
  [["Familles Inactives", 101]] + 
  [["Cotisation dûe", 103]] + 
  Activite.descriptions.sort) %>
<em>OU</em> Adresse(s): <%= text_field_tag :testAddr, @testAddr, :size => 20 %>
<p>
Message: (HTML ou non)<br/>
<%= text_area_tag :msg, @msg, :size => "80x30" %>
</p>
<p>
	Inclure l'information de cotisation: <%= check_box_tag :cotisation %>
</p>
</table>
  <%= submit_tag "Expédier" %>
<% end %>

