<div class="form-group">
    <label>Prenom:</label>
<p class="form-control-static"><%=h @membre.prenom %></p>
</div>

<div class="form-group">
    <label>Nom:</label>
<p class="form-control-static"><%=h @membre.nom %></p>
</div>

<div class="form-group">
    <label>Naissance:</label>
<p class="form-control-static"><%=h @membre.naissance %></p>
</div>

<div class="form-group">
    <label>Ecusson:</label>
<p class="form-control-static"><%=h @membre.ecusson %></p>
</div>

<% unless @membre.activites.empty? %>
<div class="form-group">
    <label>Activités</label><br/ >
  <% @membre.activites.each do | act | %>
    <p class="form-control-static"><%= act.description_fr %></p>
  <% end %>
</div>
<% end %>

<% if @membre.abonneCoursDeNatation? %>
<div class="form-group">
    <label>Cours de natation:</label>
<p class="form-control-static"><%=h @membre.cours_de_natation %></p>
</div>

<div class="form-group">
    <label>Session de cours de natation:</label>
<p class="form-control-static"><%=h @membre.session_de_natation %></p>
</div>
<% end %>

<%= link_to 'Modifier', [:edit, @famille, @membre] %> |
<%= link_to 'Retour', famille_path(@famille) %>
