<h1>Constantes d'Opération</h1>

<div class="row">
  <div class="col-sm-8 col-lg-5">

    <div class="form-group">
      <label>Cotisation de Base Sénior</label>
      <p class="form-control-static">
        <%= number_with_precision @constantes.baseSenior, :precision => 2 %>
      </p>
    </div>

    <div class="form-group">
      <label>Cotisation de Base Individu</label>
      <p class="form-control-static">
        <%= number_with_precision @constantes.baseIndividu, :precision => 2 %>
      </p>
    </div>

    <div class="form-group">
      <label>Cotisation de Base Familiale</label>
      <p class="form-control-static">
        <%= number_with_precision @constantes.baseFamille, :precision => 2 %>
      </p>
    </div>

    <div class="form-group">
      <label>Activité Sénior</label>
      <p class="form-control-static">
        <%= number_with_precision @constantes.activiteSenior, :precision => 2 %>
      </p>
    </div>

    <div class="form-group">
      <label>Activité Individu</label>
      <p class="form-control-static">
        <%= number_with_precision @constantes.activiteIndividu, :precision => 2 %>
      </p>
    </div>

    <div class="form-group">
      <label>Activité Famille</label>
      <p class="form-control-static">
        <%= number_with_precision @constantes.activiteFamille, :precision => 2 %>
      </p>
    </div>

    <div class="form-group">
      <label>Rabais Pré-inscription Senior</label>
      <p class="form-control-static">
        <%= number_with_precision @constantes.rabaisPreInscriptionSenior, :precision => 2 %>
      </p>
    </div>

    <div class="form-group">
      <label>Rabais Pré-inscription Individu</label>
      <p class="form-control-static">
        <%= number_with_precision @constantes.rabaisPreInscriptionIndividu, :precision => 2 %>
      </p>
    </div>

    <div class="form-group">
      <label>Rabais Pré-inscription Familiale</label>
      <p class="form-control-static">
        <%= number_with_precision @constantes.rabaisPreInscriptionFamille, :precision => 2 %>
      </p>
    </div>

    <div class="form-group">
      <label>Fin Pré-inscription</label>
      <p class="form-control-static">
        <%= @constantes.finPreInscription %>
      </p>
    </div>

    <div class="form-group">
      <label>Code Lecon Natation</label>
      <p class="form-control-static">
        <%= @constantes.codeLeconNatation %>
      </p>
    </div>

    <div class="form-group">
      <label>Coût d'un billet d'invité</label>
      <p class="form-control-static">
        <%= number_with_precision @constantes.cout_billet, :precision => 2 %>
      </p>
    </div>

    <div class="form-group">
      <label>Age mininum pour cotisation individuel</label>
      <p class="form-control-static">
        <%= @constantes.age_min_individu %> ans le 1 août
      </p>
    </div>

  </div>
</div>

<%= link_to 'Modifier', edit_constante_path(@constantes) %>
