<!-- partial pour imprimer une table de commandes selon la variable orders -->
<table class="table table-hover table-condensed">
  <thead>
    <th>Numéro</th>
    <th>Date</th>
    <th>Famille</th>
    <th class="number">Montant</th>
    <th>Etat</th>
    <th/>
    <th/>
  </thead>
  
  <tbody>
    <% tot = 0 %>
    <% orders.each do | c | %>
      <tr>
        <td><%= link_to c.id, c %></td>
        <td><%= c.created_at.strftime("%F %T") %></td>
        <td><%= link_to c.famille.nom, c.famille %></td>
        <td class="number"><%= number_with_precision(c.total, precision: 2) %></td>
        <td><%= c.etat %></td>
        <td><%= button_to("Marquer " + t_etat(c.prochainEtat), {action: 'etat', id: c.id, etat: c.prochainEtat}, {:method => :post, class: 'btn btn-default btn-xs', form_class: 'button_to btn-etat'}) %></td>
        <td><%= button_to('Enlever', c, {data: {confirm: 'Etes-vous certain?'}, :method => :delete, class: "btn btn-danger btn-xs"}) %></td>
        <% tot = tot + c.total * 100 %>
      </tr>
      
    <% end %>
  </tbody>
  
  <tfoot>
    <td/>
    <td/>
    <td/>
    <th class="number"> <%= number_with_precision(tot / 100, precision: 2) %> </th>
    <th/>
  </tfoot>
  
</table>

