<%= render(:partial => 'fr.header', :locals => {:famille => @famille } ) %>

<tr>
<td width="90%"><br/>
       
<p>Hello,</p>

<p>
  We have not received your membership payment prior to the end of the early 
  registration period ending on <%= Constantes.instance.finPreInscription -%>.
  Your membership fee has been re-calculated without the rebate. 
  Please send you check as soon as possible so that we can prepare your badges.
</p>

<p>Here is the updated status of your membership fees for Dixie:</p>

<%= render :partial => "public/cotisation." + @famille.langue.downcase + "", :object => @famille.cotisation, :locals => {:famille => @famille } %>
<%= render :partial => "shared/cheque_en", :locals => {:famille => @famille } %>
  
<p>Thanks.</p>
        
</td>
</tr>
    
<%= render(:partial => 'en.footer', :locals => {:famille => @famille } ) %>
