
<p>
  <b>Montant:</b>
  <%= number_with_precision(cotisation_show.cotisation_calculee, :precision => 2) %>
</p>

<p>
  <b>Exemption:</b>
  <%= number_with_precision(cotisation_show.cotisation_exemption, :precision => 2) %>
</p>

<p>
  <b>Frais additionnels:</b>
  <%= number_with_precision(cotisation_show.frais_supplementaires, :precision => 2) %>
</p>

<p>
  <b>Montant non-taxable:</b>
  <%= number_with_precision(cotisation_show.non_taxable, :precision => 2) %>
</p>

<% if cotisation_show.frais1 != 0 %>
<p>
  <b><%= cotisation_show.frais1_explication %>:</b>
  <%= number_with_precision(cotisation_show.frais1, :precision => 2) %>
</p>
<% end %>

<% if cotisation_show.frais2 != 0 %>
<p>
  <b><%= cotisation_show.frais2_explication %>:</b>
  <%= number_with_precision(cotisation_show.frais2, :precision => 2) %>
</p>
<% end %>

<% if cotisation_show.frais3 != 0 %>
<p>
  <b><%= cotisation_show.frais3_explication %>:</b>
  <%= number_with_precision(cotisation_show.frais3, :precision => 2) %>
</p>
<% end %>

<% if cotisation_show.frais4 != 0 %>
<p>
  <b><%= cotisation_show.frais4_explication %>:</b>
  <%= number_with_precision(cotisation_show.frais4, :precision => 2) %>
</p>
<% end %>

<% if cotisation_show.frais5 != 0 %>
<p>
  <b><%= cotisation_show.frais5_explication %>:</b>
  <%= number_with_precision(cotisation_show.frais5, :precision => 2) %>
</p>
<% end %>

<% if cotisation_show.frais6 != 0 %>
<p>
  <b><%= cotisation_show.frais6_explication %>:</b>
  <%= number_with_precision(cotisation_show.frais6, :precision => 2) %>
</p>
<% end %>

<% if cotisation_show.cout_billets != 0 %>
<p>
  <b>Billets d'invités:</b>
  <%= number_with_precision(cotisation_show.cout_billets, :precision => 2) %>
</p>
<% end %>

<p>
  <b>Rabais pré-inscription:</b>
  <%= number_with_precision(cotisation_show.rabais_preinscription, :precision => 2) %>
</p>
