<h1>Données de: <%= @activite.description_fr -%></h1>
<div class="row">
  <div class="col-sm-8 col-lg-5">

    <div class="form-group">
      <label>Code</label>
      <p class="form-control-static">
        <%= @activite.code %>
      </p>
    </div>

    <div class="form-group">
      <label>Description (FR)</label>
      <p class="form-control-static">
        <%= @activite.description_fr %>
      </p>
    </div>

    <div class="form-group">
      <label>URL Description (FR)</label>
      <p class="form-control-static">
        <%= @activite.url_fr %>
      </p>
    </div>

    <div class="form-group">
      <label>Description (EN)</label>
      <p class="form-control-static">
        <%= @activite.description_en %>
      </p>
    </div>

    <div class="form-group">
      <label>URL Description (EN)</label>
      <p class="form-control-static">
        <%= @activite.url_en %>
      </p>
    </div>

    <div class="form-group hidden">
      <label>Gratuit</label>
      <p class="form-control-static">
        <%= @activite.gratuite ? 'oui' : 'non' %>
      </p>
    </div>

    <div class="form-group">
      <label>Coût pour le premier membre familial</label>
      <p class="form-control-static">
        <%= @activite.cout %>
      </p>
    </div>

    <div class="form-group">
    <label>Coût par membre additionel</label>
    <p class="form-control-static">
      <%= @activite.cout2 %>
    </p>
  </div>
  </div>
</div>

<%= link_to 'Modifier', edit_activite_path(@activite) %> |
<%= link_to 'Retour', activites_path %></div>
