
    <%= form_for([@famille, @paiement]) do |f| %>

    <% unless @paiement.errors.full_messages.empty? %>
    <div class="alert alert-danger">
      <%  @paiement.errors.full_messages.each do |msg| %>
      <p>
        <%= msg %>
      </p>
      <% end %>
    </div>
    <% end %>

    <div class="form-group">
      <label>Date</label>
        <div class="form-inline">
          <%= f.text_field(:date, {type: 'date', class: "form-control" }) %>
        </div>
    </div>

    <div class="form-group">
      <label>Montant</label>
      <%= f.text_field :montant, :precision => 2, class: 'form-control form-amount' %>
    </div>

      <div class="form-group">
        <label class="control-label">Forme de paiement</label><br/>
        <div class="radio-inline">
          <%= f.radio_button(:methode, 'comptant' ) %>
          <%= f.label(:methode, 'Comptant', :value => 'comptant') %>
        </div>
        <div class="radio-inline">
          <%= f.radio_button(:methode, 'interac') %>
          <%= f.label(:methode, 'Interac', :value => 'interac') %>
        </div>
         <div class="radio-inline">
          <%= f.radio_button(:methode, 'cheque') %>
          <%= f.label(:methode, 'Cheque', :value => 'cheque') %>
        </div>
      </div>
      
      <div class="form-group">
        <label>Numéro du chèque</label>
        <div class="row">
         <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1">
          <%= f.text_field :no_cheque, class: 'form-control' %>
         </div>
        </div>
      </div>

    <div class="form-group">
      <label>Note</label>
        <div class="row">
         <div class="col-xs-8">
          <%= f.text_field :note, class: 'form-control' %>
         </div>
        </div>
    </div>

    <% unless noemail %>
    <div class="form-inline">
      <div class="form-group">
        <%= check_box_tag('courriel', 1, true, class: 'form-control') %>
        <label>Courriel de confirmation</label>
      </div>
    </div>
    <% end %>

    <%= f.submit button_name, :class => "btn btn-primary" %>
    <%= f.submit( 'Annuler', {name: 'cancel', class: "btn btn-default"}) %>

    <% end %>
