<h1>Modifier paiement</h1>

<%= form_for([@famille, @paiement]) do |f| %>

  <%  @paiement.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>  <p>
      
  <p>
    <b>Date</b><br />
    <%= f.date_select :date %>
  </p>
	
	<p>
		<b>Comptant</b>
		<%= f.check_box :comptant %>
  </p>
	
	<p>
		<b>Numéro du chèque</b>
		<%= f.text_field :no_cheque, :size => 10 %>
  </p>

  <p>
    <b>Montant</b><br />
    <%= number_with_precision(@paiement.montant, :precision => 2) %>
  </p>

   <p>
    <b>Note</b><br />
    <%= f.text_field :note, :size => 30 %>
  </p>

 <p>
    <%= f.submit "Enregistrer" %>
  </p>
<% end %>

<%= link_to 'Afficher', [@famille, @paiement] %> |
<%= link_to 'Retour', famille_path(@famille) %>
