<p>
  <b>Date:</b>
  <%= @paiement.date %>
</p>

<p>
  <b>Montant reçu:</b>
  <%= number_with_precision(@paiement.montant, :precision => 2) %>
</p>

<p>
  <b>Numéro chèque:</b>
  <% if @paiement.comptant %>
	  comptant
	<% else %>
	  <%= @paiement.no_cheque %>
	<% end%>
</p>

<p>
  <b>Non-taxable:</b>
  <%= number_with_precision(@paiement.non_taxable, :precision => 2) %>
</p>

<p>
  <b>Taxable:</b>
  <%= number_with_precision(@paiement.taxable, :precision => 2) %>
</p>

<p>
  <b>TPS:</b>
  <%= number_with_precision(@paiement.tps, :precision => 2) %>
</p>

<p>
  <b>TVQ:</b>
  <%= number_with_precision(@paiement.tvq, :precision => 2) %>
</p>

<p>
  <b>Entré par:</b>
  <%= @paiement.par %>
</p>

<p>
  <b>Note:</b>
  <%= @paiement.note %>
</p>



<%= link_to 'Retour', famille_path(@famille) %>
