<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2">Date</label>
    <p class="form-control-static">
      <%= @paiement.date %>
    </p>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Montant reçu</label>
    <p class="form-control-static">
      <%= number_with_precision(@paiement.montant, :precision => 2) %>
    </p>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Méthode</label>
    <p class="form-control-static">
      <%= @paiement.methode %>
    </p>
  </div>

  <% if @paiement.cheque? %>
    <div class="form-group">
      <label class="control-label col-sm-2">Numéro chèque</label>
      <p class="form-control-static">
        <%= @paiement.no_cheque %>
      </p>
    </div>
  <% end%>

  <div class="form-group">
    <label class="control-label col-sm-2">Non-taxable</label>
    <p class="form-control-static">
      <%= number_with_precision(@paiement.non_taxable, :precision => 2) %>
    </p>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Taxable</label>
    <p class="form-control-static">
      <%= number_with_precision(@paiement.taxable, :precision => 2) %>
    </p>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">TPS</label>
    <p class="form-control-static">
      <%= number_with_precision(@paiement.tps, :precision => 2) %>
    </p>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">TVQ</label>
    <p class="form-control-static">
      <%= number_with_precision(@paiement.tvq, :precision => 2) %>
    </p>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Entré par</label>
    <p class="form-control-static">
      <%= @paiement.par %>
    </p>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Note</label>
    <p class="form-control-static">
      <%= @paiement.note %>
    </p>
  </div>

</div>

<%= link_to 'Retour', famille_path(@famille) %>
