<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <%= t('shared.famille.coordonnees.titre') %>
    </div>
  </div>
  <div class="panel-body">

    <p><%= raw t('shared.famille.coordonnees.msg1') %></p>

    <div class="form-group">
      <label><%= Famille.human_attribute_name("adresse1") %></label>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-2">
          <%= f.text_field :adresse1, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label><%= Famille.human_attribute_name("adresse2") %></label>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-2">
          <%= f.text_field :adresse2, class: 'form-control' %>
        </div>
      </div>

    </div>

    <div class="form-group">
      <label><%= Famille.human_attribute_name("ville") %></label>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-2">
          <%= f.text_field :ville, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label><%= Famille.human_attribute_name("province") %></label>
      <div class="row">
        <div class="col-xs-3 col-sm-2 col-lg-1">
          <%= f.text_field :province, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label><%= Famille.human_attribute_name("code_postal") %></label>
      <div class="row">
        <div class="col-xs-4 col-sm-2 col-lg-2">
          <%= f.text_field :code_postal, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label><%= Famille.human_attribute_name("tel_soir") %></label>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-2">
          <%= f.telephone_field :tel_soir, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label><%= Famille.human_attribute_name("tel_jour") %></label>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-2">
          <%= f.telephone_field :tel_jour, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label><%= Famille.human_attribute_name("courriel1") %></label>
      <div class="row">
        <div class="col-xs-9 col-sm-4 col-lg-3">
          <%= f.email_field :courriel1, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label><%= Famille.human_attribute_name("courriel2") %></label>
      <div class="row">
        <div class="col-xs-9 col-sm-4 col-lg-3">
          <%= f.email_field :courriel2, class: 'form-control' %>
        </div>
      </div>
    </div>


    <div class="form-group">
      <label><%= Famille.human_attribute_name("langue") %></label>
      <div class="row">
        <div class="col-xs-3 col-sm-2 col-lg-1">
          <select id="famille_langue" name="famille[langue]" class="form-control">
            <%= options_for_select(Famille::Langue, famille.langue) %>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label><%= Famille.human_attribute_name("courriel_desabonne") =%></label>: <%= f.check_box :courriel_desabonne %>
    </div>

    <%= f.hidden_field :etat, :size => 2 %></td></tr>
  </div>
</div>
