<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Membres
    </div>
  </div>
  <div class="panel-body">

    <p>
      Inscrivez les noms de tous les membres de la famille qui habitent au même endroit (enfants, parents,
      grand-parents).
      <br/>
      Les dates de naissances sont importantes pour les reçus d'impôt
      et le calcul de la cotisation des séniors (65 ans ou plus le 1 août).
    </p>

    <h5>Les écussons</h5>
    <p >
      <ul>
        <li>
          Adulte: 13 ans et  plus
        </li>
        <li>
          Nageur: A réussi l'épreuve de nage. (Voir <%= link_to 'explication', 'http://www.piscinedixiepool.com/ecussons', :target => '_blank' %>.)
        </li>
        <li>
          Débutant: Jeune n'ayant pas encore réussi l'épreuve.
        </li>
      </ul>
    </p>
    <hr/>

    <div id="liste_membres">
      <% idx = 0 %>
      <% @famille.membres.each do | membre | %>
      <div class="membre well">
        <%= hidden_field_tag "famille[membres][" + idx.to_s + "][id]", membre.id, :size => 0, class: 'id' %>
        <div class="row">
          <label class="col-xs-6 col-sm-2 col-lg-2">Prénom</label>
          <label class="col-xs-6 col-sm-3 col-lg-2">Nom</label>
          <label class="col-xs-12 col-sm-5 col-lg-3">Date de naissance</label>
          <label class="col-xs-6 col-sm-2 col-lg-2">Ecusson</label>
        </div>

        <div class="info form-inline">
          <div class="row">
            <div class="col-xs-6 col-sm-2 col-lg-2">
              <div class="membre-info">
                <%= text_field_tag "famille[membres][" + idx.to_s + "][prenom]", membre.prenom, :class => "prenom form-control" %>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-lg-2">
              <div class="membre-info">
                <%= text_field_tag "famille[membres][" + idx.to_s + "][nom]", membre.nom, :class => "nom form-control" %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-lg-3">
              <div class="membre-info">
                <%= select_date(membre.naissance, {prefix: "famille[membres][" + idx.to_s + "][naissance]", start_year: 1910, end_year: Date.today.year, use_month_names: %w(Jan Fév Mar Avr Mai Juin Juil Août Sept Oct Nov Déc)}, {class: 'date-sel3 naissance form-control'})%>
              </div>
            </div>
            <div class="col-xs-4 col-sm-2 col-lg-2">
              <div class="membre-info">
                <%= select_tag "famille[membres][" + idx.to_s + "][ecusson]", options_for_select(Membre::Ecussons, membre.ecusson), :class => 'ecusson-sel form-control' %>
              </div>
            </div>
          </div>
        </div>

        <div class="acts">
          <h5><strong>Activités</strong></h5>
          <div class="row">
            <% Activite.order(:code).each do | act | %>
            <div class="col-xs-6 col-sm-4 col-lg-3">
              <%= check_box_tag("famille[membres][" + idx.to_s + "][activites]["+act.code+"]", act.id, membre.activite?(act.id), :class => 'activite-' + act.code) %>
              <%= act.description_fr %>
              <%= link_to act.url_fr, target: '_blank', style: 'color:inherit' do %>
              <span class="glyphicon glyphicon-new-window"></span>
              <% end %>
            </div>
            <% end%>
          </div>

          <div class="row">
            <div class="form-inline col-lg-offset-1 LN_details" <%= raw (membre.abonneCoursDeNatation? ? '' : 'style="display:none;"') %> >
              <%= select_tag("famille[membres][" + idx.to_s + "][cours_de_natation]", options_for_select(['Niveau natation'].concat(Activite::CoursDeNatation), membre.cours_de_natation), class: 'form-control') %>
              <%= select_tag("famille[membres][" + idx.to_s + "][session_de_natation]", options_for_select(['Horaire'].concat(Activite::SessionCoursDeNatation), membre.session_de_natation), class: 'form-control') %>
            </div>
          </div>
        </div>

        <div class="acts-aide" <%= raw (membre.peutAider? ? '' : 'style="display:none;"') %> >
          <h5><strong>Aide aux activités</strong></h5>
          <div class="row">
            <% Participation.all.each do | act | %>
            <div class="col-xs-6 col-sm-4 col-lg-3">
              <%= check_box_tag "famille[membres][" + idx.to_s + "][participations]["+act.id.to_s+"]", act.id, membre.participation?(act.id), :class => "box" %>
              <%= act.description_fr %>
            </div>
            <% end%>
          </div>
        </div>

        <div class="form-inline member-footer">
          <div class="row">
            <div class="col-xs-5 col-sm-4 col-lg-3">
              <button class="btn btn-default membre-rem-btn" <%= raw (idx > 0 ? '' : 'style="display:none;"') %>
                >Enlever ce membre
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- .membre -->

      <% idx = idx + 1 %>
      <% end %>

    </div>
    <!-- liste_membres -->

    <button id="boutonAjouterMembre" type="button" class="btn btn-default">
      Ajouter un autre membre
    </button>

  </div>
</div>
