<div id="participations">
  <p>
    Quelques heures de votre temps feront toute la différence afin de faire de notre piscine un lieu
    où il fait bon se retrouver entre amis. SVP sélectionner une ou plusieurs activité(s) 
    où vous pourriez vous impliquer cet été. Si certaines activités ne pas choisies, elle seront
    annulées. N'hésitez-pas à solliciter vos ados: C'est une bonne opportunité pour eux
    d'acquérir de l'expérience tout en contribuant à leur communauté. Merci.
   </p>
   
  <div id="liste_participations">
  <% idx = 0 %>
  <% @famille.membres.each do | membre | %>
    <div id="part_membres_<%= idx.to_s %>" class="membre">
    <h2 id="part_nom_membres_<%= idx.to_s %>" class="nom"><%= membre.prenomNom %>&nbsp;</h2>
    <!-- Ecrire les activites dans une tables de 3 colonnes -->
    <div class="acts">
    <table class="actstbl"><colgroup><col id="act1box"/><col id="act1"/><col id="act2box"/><col id="act2"/><col id="act3box"/><col id="act3"/></colgroup><tbody><tr>
      <% colIdx = 0 %>
      <% Participation.all.each do | act | %>
        <% if colIdx == 3 then %>
          </tr><tr>
          <% colIdx = 1 %>
        <% else %>
          <% colIdx = colIdx + 1 %>
        <% end %>
        <td><%= check_box_tag "famille[membres][" + idx.to_s + "][participations]["+act.id.to_s+"]", act.id, membre.participation?(act.id), :class => "box" %></td>
        <td><%= act.description_fr %></td>
      <% end%>
    </tr></tbody></table></div>
    </div>
  <% idx = idx + 1 %>
  <% end %>
</div> <!-- liste_participations -->

  <br/>
  <button id="lnk_autres" type="button">Section suivante</button>
</div> 
