<div class="jumbotron">
<h1><%= t('.titre') %> </h1>

<p><%= t('.msg') %> </p>
</div>

<div>
    <h3 style="margin-left:20px;color:#428bca;"><%= t('.capt1') %></h3>
    <div>
      <%= image_tag('/images/hoodies.jpg', {class: 'img-responsive center-block'}) %>
    </div>
</div>
<hr/>


<div>
    <h3 style="margin-left:20px;color:#428bca;"><%= t('.capt2') %></h3>
    <div>
      <%= image_tag('/images/activites.jpg', {class: 'img-responsive center-block'}) %>
    </div>
</div>
<hr/>


