<h1>Accès à votre profil</h1><%= link_to "English", {:action => "login_en", :controller => 'public'} %>
<br/><br/>
<p>
  Ce logiciel est utilisé pour gérer les abonnements de la Piscine Dixie. Si vous êtes déjà
  membre vous pouvez accéder à votre profil. Les nouveaux membres peuvent créer leur profil.
</p>

<h3>Famille déjà inscrite</h3>
<p>Les courriels que vous recevez de Piscine Dixie incluent un lien pour accéder directement à votre
profil. Si vous avez inscrit une adresse courriel inscrite à votre profil, vous pouvez entrer cette
adresse pour obtenir immédiatement un nouveau courriel avec votre lien personnel:</p>
</p>

<%= form_tag :action => 'login' do %>
<p>
<b>Adresse Courriel:</b>
<%= text_field_tag :courriel, params[:courriel], :size => 15 %>
</p>
<p>
  <%= submit_tag "Expédier courriel" %>
<% end %>

<p>
Si nous ne retrouvons pas votre adresse courriel, vous pouvez créer un nouveau profil comme un nouvel abonné.
</p>
<br/>

<h3>Nouvelle inscription</h3>
<p>Si votre famille n'était pas abonnée l'an dernier, vous devez créer un profil familial contenant votre adresse,
les membres de la famille, leurs activités, etc. Le logiciel calcule ensuite votre cotisation et vous l'expédie par
courriel.
</p>
<%= link_to "Je désire m'inscrire", {:action => "new", :controller => 'public'} %>


