<h3><%= t(".cotisation_titre") %></h3>
<p><%= t('.cotisation_expl') %></p>

<% if @famille.paiementTotal > 0 %>
  <%= button_to( t('.cotisation_bouton'), 
    {:controller => '/public', :action => 'recupaiement', :id => 1},
    {method: :get, class: 'btn btn-default'}) %>
<% else %>
  <%= t('.cotisation_na') %>
<% end %>

<div style="margin-bottom:30px"></div>

<h3><%= t(".impot_titre") %></h3>

<p><%= t('.impot_msg') %></p>

<div class="row">
<div class="col-sm-4">

<%= form_tag :action => 'recu' do %>
  
<div class="form-group">
  <label><%= t('.impot_label_nom') %></label>
  <%= select_tag "parent", options_for_select(@famille.prenomNoms, ''), class: 'form-control' %>
</div>
  
<div class="form-group">
  <label><%= t('.impot_label_courriel') %></label>
  <%= select_tag "courriel", options_for_select(@famille.courriels, ''), class: 'form-control' %>
</div>

<%= submit_tag( t('.impot_bouton'), class: 'btn btn-default' ) %>
<% end %>

</div>
</div>

