<div id="showProfil">
<h1>Profil</h1>

<div class="panel panel-default" id="coordonneeFamille">
<div class="panel-heading"><h2 class="panel-title">Coordonnées</h2></div>
<div class="panel-body">

<dl class="dl-horizontal">
  <dt>Adresse</dt><dd><%= @famille.adresse1 %></dd>
<dt>Adresse</dt><dd><%= @famille.adresse2 %></dd>
<dt>Ville</dt><dd><%= @famille.ville %></dd>
<dt>Province</dt><dd><%= @famille.province %></dd>
<dt>Code postal</dt><dd><%= code_postal_fmt(@famille.code_postal) %></dd>
<dt>Tél soir</dt><dd><%= number_to_phone(@famille.tel_soir) %></dd>
<dt>Tél jour</dt><dd><%= number_to_phone(@famille.tel_jour) %></dd>
<dt>Courriel1</td><dd><%= @famille.courriel1 %></dd>
<dt>Courriel2</td><dd><%= @famille.courriel2 %></dd>
<dt>Langue</dt><dd><%= @famille.langue %></td></tr>
</dl>
</div>
</div>


<div class="panel panel-default" id="coordonneeFamille">
<div class="panel-heading"><h2 class="panel-title">Membres</h2></div>
<div class="panel-body">

<% unless @famille.membres.empty? %>
  <table class="table table-condensed">
    <thead><tr>
      <th>Nom</th><th>Naissance</th><th>Activités</th><th></th><th></th>
    </tr></thead>
    <tbody>
      <% @famille.membres.each do | membre | %>
      <tr>
        <td><%= membre.nomPrenom %></td>
        <td><%= membre.naissance %></td>
        <td><%= membre.listeActivites %></td>
      <tr>
      <% end %>
   </tbody>
  </table>
<% end %>

</div>
</div>

<% if @famille.cotisation %>
  <div class="panel panel-default" id="coordonneeFamille">
  <div class="panel-heading"><h2 class="panel-title">Cotisation</h2></div>
  <div class="panel-body">
  <%= render :partial => "cotisation.fr", :object => @famille.cotisation, :locals => {:famille => @famille } %>
  </div>
  </div>
<% end %>

<% unless @famille.paiements.empty? %>
<div class="panel panel-default" id="coordonneeFamille">
<div class="panel-heading"><h2 class="panel-title">Paiements</h2></div>
<div class="panel-body">
  <table class="table table-condensed">
    <thead><tr><th>Date</th><th class="number">Montant</th><th></th><th></th></tr></thead>
    <tbody>
  <% @famille.paiements.each do | paiement | %>
    <tr>
      <td><%= paiement.date %> </td>
      <td class="number"><%= number_with_precision(paiement.montant, :precision => 2) %></td>
    <tr>
  <% end %>
  </tbody></table>
</div>
</div>
<% end %>

<% famNotes = @famille.notes.where(auteur: 'famille') %>
<% unless famNotes.empty? %>
<div class="panel panel-default" id="coordonneeFamille">
<div class="panel-heading"><h2 class="panel-title">Notes</h2></div>
<div class="panel-body">
  <table lass="table table-condensed">
    <thead>
      <tr><th>Date</th><th>Sommaire</th></tr>
    </thead>
    <tbody>
  <% famNotes.each do | note | %>
    <tr>
      <td><%= note.date %> </td>
      <td><%= note.sommaire %> </td>
    <tr>
  <% end %>
  </tbody>
  </table>
<% end %>

</div>