<!DOCTYPE html>
<html>
<head>
  <title>Abonnements <%= controller.action_name %></title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "main", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
  
  <div id="banner">
    <%= image_tag("entete.jpg") %>
  </div>
  
  <div id="columns">
    <div id="side">
      <p>
      <% if @famille %>
      
      <p>
      <%= link_to  "Logout ",    :controller => '/public', :action => 'logout' %>
      </p>
      
      <% if @famille.active? %>
        <p>
        <%= link_to  @famille.english? ? 'Display profile' : "Afficher profil",    :controller => '/public',  :action => 'show', :id => 1 %>
        </p>
        
        <p>
        <%= link_to  @famille.english? ? 'Modify profile' : "Modifier profil",    :controller => '/public', :action => 'edit', :id => 1  %>
        </p>
        
      <% else %>
        <p>
        <%= link_to  @famille.english? ? 'Renewing your membership' : "Ré-inscription",    :controller => '/public', :action => 'edit', :id => 1   %>
        </p>
      <% end %>
      
      <% if @famille.paiementTotal > 0 %>
        <p>
        <%= link_to(@famille.english? ? 'Get receipt for membership' : "Obtenir un reçu pour paiement",    :controller => '/public', :action => 'recupaiement', :id => 1) %>
        </p>
      <% end %>

      <p>
      <%= link_to(@famille.english? ? 'Mail income tax receipts' : "Expédier mes reçus d'impôt",    :controller => '/public', :action => 'recu', :id => 1) %>
      </p>
      

      <p>
      <%= link_to  @famille.english? ? 'Help' : "Aide",    :controller => '/public', :action => 'aide', :id => 1 %>
      </p>
      
      <% else %>
      <%= link_to  "Login",    :controller => '/public', :action => 'login' %>
      <% end %>
    </div>
    
    <div id="main">
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>

      <%= yield  %>
    </div>
    
  </div>
</body>
</html>
